{% extends "base.html" %}

{% block body_class %}home{% endblock %}
{% block body %}
<main>
    <section>
        <p>
            <span class="color-one">Jameson Tyler</span> <span class="color-two">is a product designer working at Localytics from Brooklyn, Ny.</span> <span class="color-three">He’s always looking for oppor&shy;tunities to colla&shy;borate on user experience, visual design, &amp; branding.</span> <span class="color-four">Publishing, data visual&shy;ization, &amp; type design are some areas of&#160;interest.</span>
        </p>
        <ul class="social-media">
            <li>
                <a href="mailto:jameson.tyler@gmail.com" title="Email me">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 612 612" enable-background="new 0 0 612 612" xml:space="preserve">
                    <path fill="#5CA582" d="M306,343.2L0,113.7c0-21.2,17-38.2,38.2-38.2h535.5c21.2,0,38.2,17,38.2,38.2L306,343.2z M306,412l306-229.5
                        v313.8c0,21.2-17,38.2-38.2,38.2H38.2C17,534.5,0,517.5,0,496.2V182.5L306,412z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/pub/jameson-tyler/62/292/ab3" title="LinkedIn profile">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 612 612" enable-background="new 0 0 612 612" xml:space="preserve">
                    <path fill="#5CA582" d="M119,148.8c-37.7,0-62.6-26-62.6-58.6c0-32.9,25.5-58.4,64.4-58.4c38.4,0,62.9,25.5,63.4,58.4
                        c0,32.7-24.9,58.6-64.4,58.6H119z M173.4,201.9V532H67.2V201.9H173.4z M343.9,340.4c0-42.7,27.2-63.9,59.2-63.9s57.9,21.2,57.9,74.6
                        V532h106.5V340.4c0-95.8-53.2-149-127.8-149c-42.7,0-74.6,24.2-95.8,56.1l-3.5-45.7H235.6c0,11.2,1.7,74.6,1.7,74.6v255.5h106.5
                        L343.9,340.4L343.9,340.4z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="http://akyndofgreanishlite.vsco.co/" title="VSCO photo grid">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 612 612" enable-background="new 0 0 612 612" xml:space="preserve">
                        <g>
                            <g>
                                <path fill="#5CA582" d="M305,0C136.2,0-1,137.2-1,306s137.2,306,306,306s306-137.2,306-306S473.8,0,305,0z M463.3,408.9
                                    c-47.5,60.7-134.5,52.8-174.1,2.6c-5.3-5.3-7.9-13.2-13.2-21.1c-2.6-7.9-5.3-13.2-7.9-23.7c-36.9,5.3-73.9,5.3-108.2-21.1
                                    c-21.1-18.5-31.7-39.6-34.3-65.9c-5.3-39.6,13.2-87.1,52.8-108.2c44.8-23.7,108.2-15.8,131.9,18.5c-7.9,10.6-15.8,21.1-23.7,31.7
                                    c-10.6-5.3-18.5-10.6-26.4-15.8c-42.2-18.5-84.4,7.9-84.4,52.8c0,18.5,2.6,34.3,15.8,47.5c21.1,21.1,42.2,21.1,68.6,15.8
                                    c10.6-2.6,18.5-13.2,21.1-23.7c26.4-68.6,139.8-76.5,184.7-21.1C487,311.3,497.6,366.7,463.3,408.9z"/>
                                <path fill="#5CA582" d="M376.2,411.5c-39.6,0-60.7-29-60.7-63.3c-2.6-36.9,29-65.9,60.7-63.3c29-5.3,63.3,23.7,63.3,63.3
                                    C436.9,382.5,415.8,411.5,376.2,411.5z"/>
                            </g>
                        </g>
                    </svg>

                </a>
            </li>
        </ul>
        <p class="attribution">Marr Sans by <a href="http://www.commercialtype.com/typefaces/marr_sans">Commercial Type</a></p>
    </section>
</main>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="ROBOTS" content="INDEX,FOLLOW">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>Jameson Tyler</title>
        <meta name="description" content="Jameson Tyler, product designer working in San Francisco">
        <meta property="og:title" content="Jameson Tyler"/>
        <meta property="og:type" content="index"/>
        <meta property="og:image" content="http://www.iacquire.com/some-thumbnail.jpg"/>
        <meta property="og:description" content="Jameson Tyler, product designer working in San Francisco" />
        <meta property="og:url" content="http://www.jamesontyler.com"/>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@relitnosmoge">
        <meta name="twitter:title" content="Jameson Tyler">
        <meta name="twitter:description" content="Jameson Tyler, product designer working in San Francisco">
        <meta name="twitter:domain" content="jamesontyler.com">
        <link rel="stylesheet" href="assets/css/main.css">
        <!--<link rel="stylesheet" href="assets/css/ss-social-regular.css">-->
        <!--<script src="assets/js/ss-social.js"></script>-->
        <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    </head>
    <body class="home">

        <link href="//cloud.webtype.com/css/ed4377a1-dcfc-4cbd-813a-b66bfdc79edc.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-7304263-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
