// This is where all of the layout modifications should live, anything that deviates from proto or base.

* {
	box-sizing: border-box;

	&:before,
	&::before,
	&:after,
	&::after {
		box-sizing: inherit;
	}
}

// Global
body {
	// border-top: .25em solid $link-color;
	padding-top: 2em;
	margin: 0 0 2em;
	width: 100%;

	//FIX: Remove?
	// float: none !important;
	@include opentype;

	p ,
	ul,
	ol,
	figure.blockquote,
	q {
		text-align: left;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	ol {
		width: 58%;
		padding-left: 2%;
	}

	p + li {
		margin-top: .5em;

		&:first-child {
			margin-top: 0;
		}
	}

	nav ul {
		text-align: center;

		li a {
			color: $link-sub-color;

			&:hover {
				color: $link-sub-color-hover;
			}
		}
	}

	figure.hundred {
		margin-left: 0;
		margin-right: 0;

		& > img {
			box-shadow: 0px 0px 8px rgba(0,0,0,.075);
		}
	}
}

section,
aside,
.lead {
	margin-left: auto;
	margin-right: auto;
	max-width: 80rem; // 1280px;
}

header {
	overflow: hidden;
}

// What is this?
.name {
	color: $spice;
}

.home .lead {
	font-family: $sans;
	font-weight: 600;
	margin-top: 1rem;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	& + p {
		text-indent: 0;
	}
}

.inactive,
.inactive:hover {
	color: lighten($link-sub-color, 40%);
}

.hero {
	@extend .block;
	max-width: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;

	p {
		text-align: center;
	}
}

// Page specific

html,
body.home {
	height: 100%;
	width: 100%;
	padding: 0;
}

html,
body {
	display: table;
}

main {
	display: table-cell;
	vertical-align: middle;
}

.home {
	line-height: 1.5em;
	text-align: center;
	color: $green-pale;
	background-color: #F8F8F8;
	padding-top: 4rem;
	margin: 0;
	border: 0.5rem solid white;

	section {
		max-width: 64rem;
		padding: 8rem 3rem 6rem;
		// background-color: #4E483C;// #F1C32F;
		border-radius: 4px;
		// box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	}

	.color-one {
		font-weight: 600;
		// color: #ED4624;
	}

	.color-two {
		// color: #EE5D26;
	}

	.color-three {
		// color: #EF8E2A;
	}

	.color-four {
		// color: #3E89C6; // #2C5BD4; // OLD > #4575FF
	}

	ul.social-media {
		text-align: center;
		list-style-type: none;

		li {
			display: inline-block;
			padding: 0 .25rem;

			&.contact-linkedin a,
			&.contact-email a {
				padding-top: 1rem;
			}

			&.contact-vsco svg {
				margin-top: .1rem;
			}
		}

		a {
			padding: .9rem;
			display: inline-block;
			box-shadow: none;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			color: $green-pale;
			// color: #0051A4;
			border: 1px solid rgba($green-pale, .25); // #0051A4

			&:hover {
				border-color: $green-pale; // #0051A4;
			}


		}
	}
}

.project-detail {
	blockquote {
		font-size: 1.4rem;
		font-style: italic;
		line-height: 1.25em;
	}
}

// Width Med and Down  64.312em
@media (max-width: $width-med - 0.063rem) {
	body {
		font-size: 125%;
	}

	section,
	aside {
		width: 75%;

		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		ul {
			// width: 95%;
			width: 85%;
			max-width: 28em;
		}

		ol {
			// width: 90%;
			width: 80%;
			padding-left: 5%;
			max-width: 28rem;
		}
	}

	footer ul {
		width: 80%;
	}

	a {
		// background-position: 0 1.1rem;
	}

	.home {
		// font-size: 112.5%;
	}

	// Project
	.project-detail {
		// h1 {
		// 	font-size: 3em !important; // 48px
		// }

		// h2 {
		// 	font-size: 2em !important; // 32 px
		// }

		// h3 {
		// 	font-size: 1.5em !important; // 24px
		// }

		// h1,
		// h2,
		// h3 {
		// 	margin-bottom: .5em !important;
		// }

		figure.full-bleed {
			margin-left: -7.5%;
			margin-right: -7.5%;
		}

		.lead {
			// width: 100%;
			font-size: 1.25rem;
		}

		.opening {
			width: 100%;
		}
	}
}

// Width Small  37.500em
@media (max-width: $width-sm) {
	body {
		font-size: 118%;
	}

	section,
	aside {
		width: 88%;

		&.hero,
		h2,
		h3,
		h4,
		h5,
		h6,
		& > p,
		ul {
			width: 100%;
		}

		ol {
			width: 95%;
			padding-left: 5%;
		}
	}

	header nav {
		li:first-child {
			clear: both;
			display: block;
			margin-left: 0;
			margin-bottom: 0.5rem;
			margin-right: 0;
		}
	}

	.home section {
		padding: 4rem;
	}

	.project-list {
		section {
			float: none; // Why is this happening?
		}
	}

	.project-detail {
		figure {
			margin-left: -5%;
			margin-right: -5%;
		}

		section.opening {
			width: 100%;

			.lead {
				width: 88%;
			}
		}
	}

	// h3 {
	// 	font-size: 1.5em; // 24px
	// }
}

// Width X-Small  25.000em
@media (max-width:$width-xsm) {
	body {
		// font-size: 100%;
		font-size: 112.5%;
	}

	h1 {
		font-size: 3rem !important; // 48px
	}

	h2 {
		font-size: 2rem !important; // 32 px
	}

	h3 {
		font-size: 1.5rem !important; // 24px
	}

	h1,
	h2,
	h3 {
		margin-bottom: .5rem !important;
	}

	// h1 {
	// 	font-size: 2.625em; // 42px
	// }

	// h2 {
	// 	font-size: 1.75em; // 28 px
	// }

	// h3 {
	// 	font-size: 1.25em;
	// }

	section,
	aside {
		width: 98% !important;

		&.hero {
			width: 100% !important;
		}
	}

	.home {
		// border-top: .25rem solid white;
		line-height: 1.7rem;

		section {
			width: 97% !important;
			padding: 2rem;
		}
	}

	.project-list h2 {
		// font-size: 3.25em !important; // Move media queries into the individual page partials to fix this.
	}

	.project-detail {
		figure.full-bleed {
			margin-left: -2.5%;
			margin-right: -2.5%;
		}

		section.opening {
			width: 100% !important;

			.lead {
				width: 92% !important;
				// font-size: 1em !important;
			}
		}

		figcaption {
			width: 92%;
			margin-left: auto;
			margin-right: auto;
		}

		blockquote {
			// font-size: 1em !important;
		}
	}
}

// Width Med and Up  64.375em
@media (min-width: $width-med) {
	body {
		font-size: 137.5%;
	}

	section,
	aside,
	.opening .lead {
		width: 90%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		width: 60%;

	}

	a {
		// background-position: 0 1.2rem;
	}

	.home {
		// font-size: 118%;
		section {
			width: 100%;
		}
	}

	.project-detail {
		figure.full-bleed {
			margin-left: -5%;
			margin-right: -5%;
		}

		.lead {
			width: 80%;
			max-width: 26rem;
		}

		section.opening {
			width: 100%;
		}
	}

	// .nav-global {
	// 	u
	// }
}

// Width Large  75.000em
@media (min-width: $width-lg) {
	body {
		font-size: 145%;
		// font-size: 150%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-smoothing: antialiased;
	}

	section,
	aside,
	.opening .lead {
		// width: 70%;
		width: 78%;
	}

	.home {
		// font-size: 125%;
		// -webkit-font-smoothing: antialiased;
		// -moz-font-smoothing: antialiased;
		// font-smoothing: antialiased;

		section {
			width: 82%;
		}
	}

	.project-detail figure.full-bleed {
		margin-left: -15%;
		margin-right: -15%;
	}
}

// Width X-Large  103.125em
@media (min-width: $width-xlg) {
	body {
		// font-size: 162.5%;
		line-height: 1.5em;
	}

	section,
	aside,
	 {
		width: 62%;
		// width: 64%;
	}

	.opening .lead {
		width: 56%;
	}

	.home section {
		width: 90%;
		background-color: purple;
	}

	.project-detail figure {
		margin-left: -8%;
		margin-right: -8%;

		&.hundred {
			margin-left: 0;
			margin-right: 0;
		}

		&.full-bleed {
			// margin-left: -31%;
			// margin-right: -31%;
			margin-left: -12%;
			margin-right: -12%;
		}
	}
}


// Height Short
@media (min-height: $height-sm) {
	.hero {
		min-height: 18rem;
	}
}

// Height Medium
@media (min-height: $height-med) {
	.hero {
		min-height: 24rem;
	}
}

// Height Tall
@media (min-height: $height-lg) {
	.hero {
		min-height: 28rem;
	}
}
